header
{
    text-align:center;
    position: sticky;
    background-color: rgb(131,135,255);
    width: 100vw;
    top: 0%;
    left: 0%;
}

h1
{
    font-family:Intro_Rust;
}

body
{
    padding-top:0%;
    text-align: left;
    margin-left: 0%;
}

p, bdo, table, blockquote, pre, img
{
    margin-left: 10px;
}

@font-face 
{/*to define all the new fonts*/
    font-family:"Intro_Rust";
    src: url("font/Fonts/introrustg-base2line.otf") format('otf')
}