header
{
    text-align:center;
    position: absolute;
    background-color: rgb(166, 252, 255);
    width: 100vw;
    top: 0%;
    left: 0%;
}

h1
{
    font-family:Intro_Rust;
}

@font-face 
{/*to define all the new fonts*/
    font-family:"Intro_Rust";
    src: url("font/Fonts/introrustg-base2line.otf") format('otf')
}